<div class="content">
  <form class="filters-container" [formGroup]="filtersFormGroup">
    <app-employee-datalist
      label="Operario"
      placeholder=""
      formControlName="employee"
    ></app-employee-datalist>

    <app-customer-datalist
      label="Cliente"
      placeholder=""
      formControlName="customer"
    ></app-customer-datalist>

    <app-status-datalist
      label="Estado"
      placeholder=""
      formControlName="state"
    ></app-status-datalist>

    <shd-datepicker
      label="Fecha de creación"
      formControlName="creationDate"
    ></shd-datepicker>

    <button class="btn btn-primary" (click)="onClearFilters()">Limpiar Filtros</button>

  </form>

  <clr-datagrid [clrDgLoading]="loading" (clrDgRefresh)="onRefresh($event)">
    <clr-dg-column>Nro de Órden</clr-dg-column>
    <clr-dg-column>Tipo</clr-dg-column>
    <clr-dg-column>Fecha de Creación</clr-dg-column>
    <clr-dg-column>Descripción</clr-dg-column>
    <clr-dg-column>Estado</clr-dg-column>
    <clr-dg-column>Sector*</clr-dg-column>

    <clr-dg-row *ngFor="let serviceOrder of serviceOrders">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="onViewDetail(serviceOrder)">
          Editar
        </button>
        <button class="action-item" (click)="onDelete(serviceOrder)">
            Eliminar
        </button>
      </clr-dg-action-overflow>

      <clr-dg-cell>{{ serviceOrder.number }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder?.type?.description }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder.creationTime | date }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder.description }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder.status.name }}</clr-dg-cell>
      <clr-dg-cell>N/A</clr-dg-cell>

      <execution-order-history-detail *clrIfExpanded [serviceOrder]="serviceOrder"
        ngProjectAs="clr-dg-row-detail"></execution-order-history-detail>
    </clr-dg-row>

    <clr-dg-footer>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{total}} users
      <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [clrDgTotalItems]="total"></clr-dg-pagination>
  </clr-dg-footer>
  </clr-datagrid>

  <button class="btn btn-primary" (click)="onCreateServiceOrder()">Crear Orden</button>
</div>
<clr-modal [(clrModalOpen)]="openModalDelete">
    <h3 class="modal-title">Eliminando Orden de Servicio</h3>
  <div class="modal-body">
    <p>¿ Desea realmente eliminar la orden de servicio <strong>{{selectedOrder?.number}}</strong> ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModalDelete = false">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="deleteOrderSelected()">Ok</button>
  </div>
</clr-modal>
