
<div class="content">
    <clr-datagrid>
        <clr-dg-column>Nro de Orden</clr-dg-column>
        <clr-dg-column>Tipo</clr-dg-column>
        <clr-dg-column>Fecha de Creación</clr-dg-column>
        <clr-dg-column>Descripción</clr-dg-column>
    
        <clr-dg-row *ngFor="let serviceOrder of serviceOrders">
            <clr-dg-cell>{{serviceOrder.number}}</clr-dg-cell>
            <clr-dg-cell>{{serviceOrder?.type?.description}}</clr-dg-cell>
            <clr-dg-cell>{{serviceOrder.creationTime | date}}</clr-dg-cell>
            <clr-dg-cell>{{serviceOrder.description}}</clr-dg-cell>
        </clr-dg-row>
    
        <clr-dg-footer>{{serviceOrders.length}} órdenes</clr-dg-footer>
    </clr-datagrid>
</div>



