<div class="content">
  <form class="filters-container" [formGroup]="filtersFormGroup">
    <app-employee-datalist
      label="Operario"
      placeholder=""
      formControlName="employee"
    ></app-employee-datalist>

    <app-customer-datalist
      label="Cliente"
      placeholder=""
      formControlName="customer"
    ></app-customer-datalist>

    <app-status-datalist
      label="Estado"
      placeholder=""
      formControlName="state"
    ></app-status-datalist>

    <shd-datepicker
      label="Fecha de creación"
      formControlName="creationDate"
    ></shd-datepicker>

    <button class="btn btn-primary" (click)="onClearFilters()">Limpiar Filtros</button>

  </form>

  <clr-datagrid>
    <clr-dg-column>Nro de Órden</clr-dg-column>
    <clr-dg-column>Tipo</clr-dg-column>
    <clr-dg-column>Fecha de Creación</clr-dg-column>
    <clr-dg-column>Descripción</clr-dg-column>
    <clr-dg-column>Estado</clr-dg-column>
    <!-- <clr-dg-column>Operario</clr-dg-column>
    <clr-dg-column>Cliente</clr-dg-column> -->
    <clr-dg-column>Sector*</clr-dg-column>

    <clr-dg-row *ngFor="let serviceOrder of serviceOrders">
      <clr-dg-action-overflow>
        <button class="action-item" (click)="onViewDetail(serviceOrder)">
          Editar
        </button>
      </clr-dg-action-overflow>

      <clr-dg-cell>{{ serviceOrder.number }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder?.type?.description }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder.creationTime | date }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder.description }}</clr-dg-cell>
      <clr-dg-cell>{{ serviceOrder.status.name }}</clr-dg-cell>
      <!-- <clr-dg-cell>
        {{ serviceOrder?.assignedUser?.firstName + ' ' +
        serviceOrder?.assignedUser?.lastName }}
      </clr-dg-cell>
      <clr-dg-cell>
        {{ serviceOrder?.customer?.firstName + ' ' +
        serviceOrder?.customer?.lastName }}
      </clr-dg-cell> -->
      <clr-dg-cell>N/A</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ serviceOrders.length }} órdenes</clr-dg-footer>
  </clr-datagrid>

  <button class="btn btn-primary" (click)="onCreateServiceOrder()">Crear Orden de Servicio</button>
</div>
