<div class="content">
  <h2>Edici&oacute;n de Orden de Servicio</h2>

  <form
    clrForm
    clrStepper
    class="form-container"
    [formGroup]="formMain"
    (ngSubmit)="onUpdateServiceOrder()"
  >
    <clr-stepper-panel formGroupName="formBasic">
      <clr-step-title>B&aacute;sico</clr-step-title>
      <clr-step-description
        >Datos b&aacute;sicos de la orden</clr-step-description
      >
      <clr-step-content *clrIfExpanded>
        <shd-input
          label="Número de orden"
          formControlName="number"
          name="number"
          [disabled]="true"
        ></shd-input>
        <shd-textarea
          label="Descripción"
          formControlName="description"
          name="description"
        ></shd-textarea>
        <service-order-types-datalist
          label="Tipo"
          placeholder=""
          formControlName="type"
        ></service-order-types-datalist>
        <app-status-datalist
          label="Estado"
          placeholder=""
          formControlName="state"
          [disabled]="true"
        ></app-status-datalist>
        <app-priority-datalist
          label="Prioridad"
          placeholder=""
          formControlName="priority"
        ></app-priority-datalist>
        <app-customer-datalist
          label="Cliente"
          placeholder=""
          formControlName="customer"
          (ngModelChange)="onModelChanged($event)"
        ></app-customer-datalist>
        <div class="btn-group" style="margin-top: 30px">
          <button
            type="button"
            class="clr-step-button btn"
            (click)="onCancel()"
          >
            Cancelar
          </button>
          <button clrStepButton="next">Siguiente</button>
        </div>
      </clr-step-content>
    </clr-stepper-panel>
    <clr-stepper-panel formGroupName="formExecution">
      <clr-step-title>Ejecuci&oacute;n</clr-step-title>
      <clr-step-description
        >Datos sobre la ejecuci&oacute;n de la orden</clr-step-description
      >
      <clr-step-content *clrIfExpanded>
        <app-sector-datalist
          label="Sector asignado"
          placeholder=""
          formControlName="sector"
        >
        </app-sector-datalist>
        <app-employee-datalist
          label="Operario asignado"
          placeholder=""
          formControlName="employee"
        ></app-employee-datalist>
        <shd-datepicker
          label="Fecha estimada resolución"
          formControlName="estimatedResolutionDate"
        >
        </shd-datepicker>
        <clr-input-container>
          <label>Hora estimada resoluci&oacute;n</label>
          <input
            type="time"
            clrInput
            formControlName="estimatedResolutionTime"
          />
        </clr-input-container>
        <shd-textarea
          label="Observaciones"
          formControlName="observationsExecution"
        >
        </shd-textarea>
        <div class="btn-group" style="margin-top: 30px">
          <button
            type="button"
            class="clr-step-button btn"
            (click)="onCancel()"
          >
            Cancelar
          </button>
          <button clrStepButton="next">Siguiente</button>
        </div>
      </clr-step-content>
    </clr-stepper-panel>
    <clr-stepper-panel formGroupName="formLocation">
      <clr-step-title>Localización</clr-step-title>
      <clr-step-description
        >Datos sobre ubicación de la orden</clr-step-description
      >
      <clr-step-content>
        <div class="clr-row">
          <div class="clr-col-6">
            <shd-input
              label="Descripción (Calle, altura, etc.)"
              formControlName="descriptionAddress"
            >
            </shd-input>
            <shd-input label="Ciudad" formControlName="cityAddress">
            </shd-input>
            <shd-input
              label="Código Postal"
              formControlName="zipCodeAddress"
            ></shd-input>
            <shd-input
              label="Provincia"
              formControlName="stateAddress"
            ></shd-input>
            <shd-input
              label="Pais"
              formControlName="countryAddress"
            ></shd-input>
            <shd-input
              label="Latitude (Coordenada)"
              formControlName="latitudeAddress"
              [hidden]="true"
            ></shd-input>
            <shd-input
              label="Longitud (Coordenada)"
              formControlName="longitudeAddress"
              [hidden]="true"
            ></shd-input>
            <shd-input
              label="Información de referencia"
              formControlName="referenceInfo"
            ></shd-input>
            <div class="btn-group" style="margin-top: 30px">
              <button
                type="button"
                class="clr-step-button btn"
                (click)="onCancel()"
              >
                Cancelar
              </button>
              <button
                clrStepButton="submit"
                [disabled]="formMain.invalid"
                (click)="onUpdateServiceOrder()"
              >
                Guardar
              </button>
            </div>
          </div>
          <div class="clr-col-6">
            <google-map
              width="100%"
              height="100%"
              [options]="options"
              [center]="region"
              [zoom]="13"
            >
              <map-marker
                *ngIf="selectedLocation"
                #somemarker="mapMarker"
                [position]="selectedLocation"
              >
              </map-marker>

              <map-info-window [innerHTML]="infoContent"></map-info-window>
            </google-map>
          </div>
        </div>
      </clr-step-content>
    </clr-stepper-panel>
  </form>
</div>
