<ng-container class="container">
  <div class="controls">

    <app-employee-datalist
      label="Operario"
      placeholder=""
      [formControl]="selectedEmployeeFormControl"
    ></app-employee-datalist>

    <shd-checkbox
      [hidden]="!selectedEmployee"
      label="Mostrar"
      [formControl]="checkboxFormControl"
    ></shd-checkbox>

    <button class="btn btn-primary" (click)="onClearFilters()">Limpiar Filtros</button>
  </div>

  <google-map width="100%" height="80%" [options]="options">
    <map-marker
      #somemarker="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [icon]="marker.icon"
      (mapClick)="openInfo(somemarker, marker.info)"
    >
    </map-marker>

    <map-info-window [innerHTML]="infoContent"></map-info-window>
  </google-map>
</ng-container>
